{% extends 'base.html' %}
{% block content %}

  <h1>{{ question.prompt }}</h1>

  <form action="/answer" method="POST">

      <!-- you should have one item like this for every choice -->
      <p>
        <input
            type="radio"
            name="answer"
            value="value-goes-here">
        choice-goes-here
        <!-- Us: loop here to display choices -->
      </p>

      <!-- Us: Add hidden input with the current question index -->
    <button>Continue</button>
  </form>

{% endblock %}
